@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #10233d;
  background-color: #f2f5fb;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}
